In [1]:
def test(a,b):
    return a+b

In [2]:
test(10,20)

30

In [3]:
test("Abhishek", "Mohan")

'AbhishekMohan'

In [4]:
def test2(*args):                  # "*" allows you to enter any number of inputs
    return args

In [5]:
test2(1,2,3,"abhi",[1,2,3])

(1, 2, 3, 'abhi', [1, 2, 3])

In [7]:
def test3(*args):
    return list(args)        # to convert tuple into a list

In [8]:
test3(1,2,3,"abhi")

[1, 2, 3, 'abhi']

In [9]:
def test4(*args):           # to convert the result output into a list from tuple
    l = []
    for i in args:
        l.append(i)
    return l

In [10]:
test4(1,2,3,"abhi","mohan")

[1, 2, 3, 'abhi', 'mohan']

In [11]:
def test5(*abhi):
    return abhi

In [12]:
test5(12,13,14)

(12, 13, 14)

In [13]:
test5("mohan",12,13)

('mohan', 12, 13)

In [14]:
def test6(*abhi):
    return list(abhi)

In [15]:
test6(14,15,13,"abhi")

[14, 15, 13, 'abhi']

In [16]:
# Function to enter key-value pair n number of times

In [18]:
def test7(**kwargs):                       # ** for key-value pairs
    return kwargs

In [19]:
test7(a=5,b=2,c=12,abhi=100)

{'a': 5, 'b': 2, 'c': 12, 'abhi': 100}

In [21]:
test7(abhi="mohan")

{'abhi': 'mohan'}

In [22]:
type(test7())

dict

In [23]:
# ** gives dictionary as output and * gives tuple as output

In [24]:
def test8(a):
    return a
def test9(b):
    return b
def test10(func):
    return func("abhi")

In [25]:
test10(test8)

'abhi'

In [26]:
test10(test9)

'abhi'

In [27]:
def test8(a):
    return a
def test9():
    return "mohan"
def test10(func):
    return func("abhi")

In [28]:
test10(test8)

'abhi'

In [29]:
test10(test9)

TypeError: test9() takes 0 positional arguments but 1 was given

In [36]:
def test8(a):
    return a
def test9():
    return "mohan"
def test10(func):
    return func()

In [37]:
test10(test9)

'mohan'

In [35]:
test9()

'mohan'

In [42]:
def test8(a):
    return a
def test9(*args):             # * will allow to take 0 to n inputs 
    return args
def test10(func):
    return func("abhi")

In [43]:
test10(test8)

'abhi'

In [44]:
test10(test9)

('abhi',)

In [45]:
def test11():
    print("Test11")
    def test12():
        print("test12")
    def test13():
        print("test13")

In [46]:
test11()

Test11

In [47]:
test12()

NameError: name 'test12' is not defined

In [48]:
test13()

NameError: name 'test13' is not defined

In [49]:
def test11(a):
    print("Test11")
    def test12():
        print("test12")
    def test13():
        print("test13")
        
    if a == "abhi":                         # This is one of the way to call functions inside a function
        return test12()
    elif a == "mohan":
        return test13()

In [50]:
test11(123)

Test11

In [51]:
test11("xyz")

Test11

In [52]:
test11("abhi")

Test11
test12

In [53]:
test11("mohan")

Test11
test13

In [30]:
def test14(func):
    def test15():
        print("I am inside test15 and this will behave as a decorator for any function I am going to call")
        func()
    return test15()

In [31]:
def test16():
    print("I am inside test16")

In [18]:
test16()

I am inside test16

In [19]:
test14(test16)

I am inside test15 and this will behave as a decorator for any function I am going to call
I am inside test16

In [20]:
#Another way of doing the same.

In [39]:
@test14                            # Decorator
def test17():
    print("This is test17")

I am inside test15 and this will behave as a decorator for any function I am going to call
This is test17

In [41]:
import os
def test18(func):
    def test19():
        func()
        print(os.getcwd())
    return test19()

In [42]:
@test18
def test20():
    print("I am inside test20")

I am inside test20
C:\Users\DELL

In [52]:
# Write a program to find the execution time of a function

In [13]:
import time

In [54]:
start = time.time()
print("Hello")
end = time.time()
print(end-start)

Hello
0.0

In [55]:
time.time()       # gives present time

1668403617.0094924

In [56]:
time.time()

1668403628.0004416

In [61]:
time.localtime()

time.struct_time(tm_year=2022, tm_mon=11, tm_mday=14, tm_hour=10, tm_min=59, tm_sec=5, tm_wday=0, tm_yday=318, tm_isdst=0)

In [14]:
def test21(func):
    def test22():
        print("This will give execution time of the function")
        start = time.time()
        func()
        end = time.time()
        print(end-start)
    return test22()

In [63]:
def test23():
    l = [1,2,3,4,5,6]
    l1=[]
    for i in l:
        if type(i)==int:
            l1.append(i)
    return l1

In [64]:
test23()

[1, 2, 3, 4, 5, 6]

In [66]:
@test21
def test23():
    l = [1,2,3,4,5,6]
    l1=[]
    for i in l:
        if type(i)==int:
            l1.append(i)
    return l1

This will give execution time of the function
0.0

In [91]:
def test21(func):
    def test22():
        print("This will give execution time of the function")
        start = time.time()
        func()
        print(func())           # To print the values
        end = time.time()
        print(end-start)
    return test22()

In [92]:
@test21
def test23():
    l = [1,2,3,4,5,6]
    l1=[]
    for i in l:
        if type(i)==int:
            l1.append(i)
    return l1

This will give execution time of the function
[1, 2, 3, 4, 5, 6]
0.0

In [8]:
def test24():
    for i in range(0,31):
        print((5*i)/5)
    return test24     # if use return test24(), it will initaite infinite times the function

In [9]:
test24()

0.0
1.0
2.0
3.0
4.0
5.0
6.0
7.0
8.0
9.0
10.0
11.0
12.0
13.0
14.0
15.0
16.0
17.0
18.0
19.0
20.0
21.0
22.0
23.0
24.0
25.0
26.0
27.0
28.0
29.0
30.0

In [15]:
@test21
def test24():
    for i in range(0,31):
        print((5*i)/5)
    return test24

This will give execution time of the function
0.0
1.0
2.0
3.0
4.0
5.0
6.0
7.0
8.0
9.0
10.0
11.0
12.0
13.0
14.0
15.0
16.0
17.0
18.0
19.0
20.0
21.0
22.0
23.0
24.0
25.0
26.0
27.0
28.0
29.0
30.0
0.0009999275207519531